
.content-bg {
    padding: 20px;
    background-color: lightblue;
    margin-top: 80px;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 250px;
    text-align: left;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    color: blue ;
    padding-left: opx;
    padding-right: 100px;
    display: flex;
}

.form-label {
    color: rgb(77, 69, 69);
}

