<section class="content-bg">
<div class="form-group">
    <label class="form-label">Product ID : </label>
    <span>&nbsp;{{selectedProduct.id}}</span>
</div>

<div class="form-group">
    <label class="form-label">Product Name : </label>
    <span>&nbsp;{{selectedProduct.productName}}</span>
</div>

<div class="form-group">
    <label class = "form-label">Category : </label>
    <span>&nbsp;{{selectedProduct.category}}</span>
</div>

<div class="form-group">
    <label class="form-label">Brand : </label>
    <span>&nbsp;{{selectedProduct.brand}}</span>
</div>

<div class="form-group">
    <label class = "form-label">Expire Date : </label>
    <span>&nbsp;{{selectedProduct.expiredDate}}</span>
</div>

<div class="form-group">
    <label class="form-label">Manufactured Date : </label>
    <span>&nbsp;{{selectedProduct.manufacturedDate}}</span>
</div>

<div class="form-group">
    <label class = "form-label">Unit Price : </label>
    <span>&nbsp;{{selectedProduct.unitPrice}}</span>
</div>

<div class="form-group">
    <label class="form-label">Quantity: </label>
    <span>&nbsp;{{selectedProduct.quantity}}</span>
</div>

<div class="form-group">
    <label class="form-label">Created Date : </label>
    <span>&nbsp; {{selectedProduct.createdDate}}</span>
</div>
</section>